extends layout

block content
    p 1. Find your song
    #searchYouTube
        fieldset
            input#inputSearch(type='text', placeholder='Search...')
            button#btn-do-search Search
    #resultList
        ul
    
    #watchYouTube
    
    p 2. Press Record (time it right!)
    video(autoplay, width='420px')
    button#btn-start-recording Record
    button#btn-stop-recording Stop
    p 3. Share
    #sendVideo
        fieldset
            input#inputUserName(type='text', placeholder='Your Name')
            input#inputUserEmail(type='text', placeholder='Your Email')
            br
            input#inputFriendName(type='text', placeholder="Friend's Name")
            input#inputFriendEmail(type='text', placeholder="Friend's Email")
            br
            button#btn-submit Send Video
