doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    link(rel='stylesheet', href='/css/style.css')
    block js
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
      script(src='/js/karaokegram.js')
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    .wrapper
      .ribbon-wrapper-green
        .ribbon-green BETA
    header
      h1 Karaokegram
      h2 Send a performance to a long distance friend
    .container
      .main-content
        block content
    footer
      p Running on node with Express, Jade and Stylus
