<!DOCTYPE html>
<div>
    <p>1. Find your song</p>
    <div class="center">
        <input class="search-bar"></input>
    </div>
    <p><a href="">https://www.youtube.com/watch?v=pXLZFaPkHlw</a></p>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/pXLZFaPkHlw" frameborder="0" allowfullscreen></iframe>
    <p>2. Press Record (time it right!)</p>
    <img class="hover" width="420" src="images/camera-video.png" alt="camera-video" />
    <p>3. Share</p>
    <div class="center">
        <input type="text" value="Your Name"></input>
        <input type="text" value="Your Email"></input>
    </div>
    <div class="center">
        <input type="text" value="Friend's Name"></input>
        <input type="text" value="Friend's Email"></input>
    </div>
    <div class="center submit-button">
        <a class="button" href=#>Send Video</a>
    </div>
</div>
