/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #fa5b4d
background-color = #fff

body
  font-family 'Georgia'
  background-color background-color
  padding-right 5px
  color #444

header
  font-family 'Quicksand'
  padding 50px 10px
  color #fff
  font-size 30px
  text-align center

  h2
    font-size 15px

  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color main-color
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)

.wrapper
  background white
  border-radius 10px
  -webkit-box-shadow 0px 0px 8px rgba(0,0,0,0.3)
  -moz-box-shadow 0px 0px 8px rgba(0,0,0,0.3)
  box-shadow 0px 0px 8px rgba(0,0,0,0.3)
  position relative
  z-index 90

.ribbon-wrapper-green
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;

.ribbon-green
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}

.ribbon-green:after {
  right: 0;
}​

.container
  width 420px
  margin 50px auto
  overflow hidden

.main-content
  float left
  width 420px
  p
    margin-top 20px
    margin-bottom 20px
    line-height 1.8

#searchYouTube
  width 420px
  text-align center
  vertical-align middle

#watchYouTube
  width 425px
  height 315px

#inputSearch
  width 300px
  margin 20px auto
  -webkit-border-radius 5px
  -moz-border-radius 5px
  border-radius 5px

#btnDoSearch
  margin 20px

#resultList
  margin-top 20px
  width 420px
  ul
    li
      padding 20px
      border-top 1px solid #ccc

.frameYouTube
  width 420px
  height 315px

#sendVideo
  width 420px
  text-align center
  input
    width 190px
    margin 5px

#btnSubmit
  font 25px 'Quicksand'
  text-decoration none
  background-color main-color
  color #fff
  padding 2px 6px 2px 6px
  margin-top 50px

footer
  width 420px
  margin 50px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px
